@import './components/ErrorBoundary/errorboundary';
@import './pages/Assessment/assessment';
@import './pages/Account/login';
@import './pages/User/user';
@import './pages/forcreate';
@import './pages/NotFound/notFound';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --robotomedium: RobotoMedium;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

//fonts
@font-face {
    font-family: RobotoMedium;
    src: url(../src/fonts/Roboto-Medium.ttf);
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*scrollbar*/

body {
    font-family: RobotoMedium;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

//#region custom cols
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-1-2 {
    flex: 0 0 auto;
    width: 10%;
}

.col-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
}

.col-1-8 {
    flex: 0 0 auto;
    width: 15%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-2-1 {
    flex: 0 0 auto;
    width: 17.5%;
}

.col-2-3 {
    flex: 0 0 auto;
    width: 19.166%;
}

.col-2-5 {
    flex: 0 0 auto;
    width: 20.83333%;
}

.col-2-8 {
    flex: 0 0 auto;
    width: 23.3333333%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-3-5 {
    flex: 0 0 auto;
    width: 29.1666%;
}

.col-3-8 {
    flex: 0 0 auto;
    width: 31.666666%;
}

.col-3-9 {
    flex: 0 0 auto;
    width: 32.5%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-5-5 {
    flex: 0 0 auto;
    width: 45.833333%;
}

.col-5-8 {
    flex: 0 0 auto;
    width: 48.333333%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-6-5 {
    flex: 0 0 auto;
    width: 54.166666%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-10-5 {
    flex: 0 0 auto;
    width: 87.5%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-1-8 {
    flex: 0 0 auto;
    width: 15%;
}

@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-7-5 {
        flex: 0 0 auto;
        width: 62.5%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-0-5 {
        flex: 0 0 auto;
        width: 4.16666666%;
    }

    .col-lg-0-8 {
        flex: 0 0 auto;
        width: 6.6666%;
    }

    .col-lg-0-7 {
        flex: 0 0 auto;
        width: 5.83333%;
    }

    .col-lg-1-2 {
        flex: 0 0 auto;
        width: 10%;
    }

    .col-lg-1-5 {
        flex: 0 0 auto;
        width: 12.5%;
    }

    .col-lg-1-8 {
        flex: 0 0 auto;
        width: 15%;
    }

    .col-lg-2-2 {
        flex: 0 0 auto;
        width: 18.333333%;
    }

    .col-lg-2-4 {
        flex: 0 0 auto;
        width: 20%;
    }

    .col-lg-2-5 {
        flex: 0 0 auto;
        width: 20.8333333%;
    }

    .col-lg-2-8 {
        flex: 0 0 auto;
        width: 23.3333333%;
    }

    .col-lg-3-5 {
        flex: 0 0 auto;
        width: 29.16666666%;
    }

    .col-lg-3-8 {
        flex: 0 0 auto;
        width: 31.6666%;
    }

    .col-lg-4-5 {
        flex: 0 0 auto;
        width: 37.5%;
    }

    .col-lg-5-5 {
        flex: 0 0 auto;
        width: 45.8333%;
    }

    .col-lg-5-8 {
        flex: 0 0 auto;
        width: 48.3333333%;
    }

    .col-lg-6-5 {
        flex: 0 0 auto;
        width: 54.16666666%;
    }
}

//#endregion custom cols

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 500000;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0px 1px 15px 1px #009900;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .welcome_message_header {
            font-size: 20px;
        }

        .papaclickmenu {
            position: relative;
            display: flex;
            align-items: center;

            .clickmenu {
                position: absolute;
                top: 80%;
                left: 0%;
                padding: 15px 20px;
                font-size: 15px;
                background-color: white;
                box-shadow: 0px 0px 10px 1px #009900;
                border: 1px solid rgba(128, 128, 128, 0.5);
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                transition: 0.2s;

                a,
                span {
                    margin-bottom: 8px;
                    transition: 0.1s;
                    text-align: start;
                    cursor: pointer;

                    &:hover {
                        color: #009900;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .clickdrop {
                cursor: pointer;
                margin-left: 5px;

                svg {
                    transition: 0.2s;
                }
            }

            .spanisopen {
                svg {
                    transform: rotate(180deg);
                }
            }

            .openclickmenu {
                top: 110%;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500000;
    background-color: white;
    padding: 10px 0;
    margin: 0;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            font-size: 12px;

            a {
                color: #009900;
            }

            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}

.maincontent {
    margin: 100px 0;
}

.homepagediv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .linktoassessmentorcontactpage {
        margin: 20px 0;
        height: 200px;
        width: 200px;
        padding: 10px;
        font-size: 20px;
        border: 1px solid #98CE00;
        box-shadow: 0px 0px 10px 2px #FFFF00;
        border-radius: 5px;
        cursor: pointer;
        background-color: #009B00;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;

        span {
            transition: 0.2s;
        }

        @media(min-width: 576px) {
            &:hover {
                box-shadow: 0px 0px 15px 4px #FFFF00;
                border-radius: 10px;

                span {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #009900;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 45%;
    top: 45%;
}

@media(max-width: 576px) {
    .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #009900;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        position: fixed;
        left: 37%;
        top: 45%;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//table

#tablecontainer {
    margin-top: 100px;
    padding-bottom: 40px;
    position: relative;
    margin-bottom: 50px;

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);

        input {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                margin-right: 3px;

                label {
                    cursor: pointer;
                }
            }
        }
    }

    .all {
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .left {
                font-size: 25px;
                color: #009900;
            }

            .middle {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

        .tablecontainer {
            width: 100%;
        }
    }
}

@media(max-width: 576px) {
    .header {
        .welcome_message_header {
            font-size: 17px;
        }

        .papaclickmenu {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 15px;

            .clickmenu {
                position: absolute;
                top: 80%;
                left: 0;
                padding: 10px 0 !important;
                padding-left: 10px !important;
                width: 95%;
                font-size: 13px;
                background-color: white;
                box-shadow: 0px 0px 10px 1px #009900;
                border: 1px solid rgba(128, 128, 128, 0.5);
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                align-items: center;
                opacity: 0;
                visibility: hidden;
                transition: 0.1s;

                a,
                span {
                    margin: 0;
                    padding: 0;
                    margin-bottom: 8px;
                    transition: 0.1s;
                    font-size: 17px;
                    text-align: start;

                    &:hover {
                        color: #009900;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .clickdrop {
                cursor: pointer;
                margin-left: 5px;

                svg {
                    transition: 0.1s;
                }
            }

            .spanisopen {
                svg {
                    transform: rotate(180deg);
                }
            }

            .openclickmenu {
                top: 110%;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 500000;
        background-color: white;
        padding: 6px 0;
        margin: 0;

        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            div {
                font-size: 10px;

                &:nth-child(1) {
                    text-align: start;
                }
            }
        }
    }

    .homepagediv {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .linktoassessmentorcontactpage {
            margin: 12px;
            height: 130px;
            width: 130px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #98CE00;
            box-shadow: 0px 0px 10px 2px #FFFF00;
            border-radius: 5px;
            cursor: pointer;
            background-color: #009B00;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
        }
    }

    #tablecontainer {
        margin-top: 80px;

        .all {
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 15px;

                .left {
                    font-size: 20px;
                    color: green;
                    order: 1;
                }

                .middle {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    order: 3;
                    margin-top: 8px;

                    select {
                        margin: 5px 0;
                    }
                }

                .right {
                    order: 2;
                }
            }

            .tablecontainer {
                width: 100%;
                overflow-x: scroll;

                button {
                    font-size: 12px;
                    padding: 3px;
                }
            }
        }
    }
}