@import './components/Dropdown/dropdown';
@import './components/ErrorBoundary/errorboundary';
@import './pages/Assessment/assessment';
@import './pages/Account/login';
@import './pages/forcreate';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --robotomedium: RobotoMedium;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

//fonts
@font-face {
    font-family: RobotoMedium;
    src: url(../src/fonts/Roboto-Medium.ttf);
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*scrollbar*/

body {
    font-family: RobotoMedium;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

.col-1-8 {
    flex: 0 0 auto;
    width: 15%;
}

@media (min-width: 992px) {
    .col-lg-0-7 {
        flex: 0 0 auto;
        width: 5.83333%;
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 500000;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0px 1px 15px 1px #009900;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            font-size: 20px;
        }
    }
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500000;
    background-color: white;
    padding: 10px 0;
    margin: 0;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            font-size: 12px;

            a {
                color: #009900;
            }

            &:nth-child(2) {
                text-align: right;
            }
        }
    }
}

.maincontent {
    margin: 100px 0;
}

.homepagediv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .linktoassessmentorcontactpage {
        margin: 20px 0;
        height: 200px;
        width: 200px;
        padding: 10px;
        font-size: 20px;
        border: 1px solid #98CE00;
        box-shadow: 0px 0px 10px 2px #FFFF00;
        border-radius: 5px;
        cursor: pointer;
        background-color: #009B00;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;

        span {
            transition: 0.2s;
        }

        @media(min-width: 576px) {
            &:hover {
                box-shadow: 0px 0px 15px 4px #FFFF00;
                border-radius: 10px;

                span {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.preloader {
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding: 200px 0;
    font-family: var(--robotomedium);
    background-color: white;
    z-index: 564730;
}

//table

#tablecontainer {
    margin-top: 100px;
    padding-bottom: 40px;
    position: relative;
    margin-bottom: 50px;

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);

        input {
            display: none;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                margin-right: 3px;

                label {
                    cursor: pointer;
                }
            }
        }
    }

    .all {
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .left {
                font-size: 25px;
                color: green;
            }

            .middle {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }

        .tablecontainer {
            width: 100%;
        }
    }
}

@media(max-width: 576px) {
    .footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 500000;
        background-color: white;
        padding: 6px 0;
        margin: 0;

        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            div {
                font-size: 10px;

                &:nth-child(1) {
                    text-align: start;
                }
            }
        }
    }

    .homepagediv {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .linktoassessmentorcontactpage {
            margin: 12px;
            height: 130px;
            width: 130px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #98CE00;
            box-shadow: 0px 0px 10px 2px #FFFF00;
            border-radius: 5px;
            cursor: pointer;
            background-color: #009B00;
            color: white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
        }
    }

    #tablecontainer {
        margin-top: 80px;

        .all {
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin-bottom: 15px;

                .left {
                    font-size: 20px;
                    color: green;
                    order: 1;
                }

                .middle {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    order: 3;
                    margin-top: 8px;

                    select {
                        margin: 5px 0;
                    }
                }

                .right {
                    order: 2;
                }
            }

            .tablecontainer {
                width: 100%;
                overflow-x: scroll;

                button {
                    font-size: 12px;
                    padding: 3px;
                }
            }
        }
    }
}