.errorapp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 432;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
  width: 60%;
  padding: 20px 50px;
  color: black;
  background-color: white;
}

:root {
  --robotomedium: RobotoMedium;
}

#dropdownkeeper {
  margin: 100px 0;
}

#dropdownkeeper .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dropdownkeeper .all p {
  font-family: var(--robotomedium);
  font-size: 18px;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

#dropdownkeeper .all .cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--robotomedium);
  position: relative;
}

#dropdownkeeper .all .cont .resultkeeper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: 15px;
}

#dropdownkeeper .all .cont .resultkeeper .resultspanfalse {
  color: #009900;
  font-size: 20px;
  text-align: center;
  padding: 0 10px;
  margin: 0;
  padding: 0;
}

#dropdownkeeper .all .cont .allkeeper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
  margin: 40px 0;
  margin-bottom: 150px;
}

#dropdownkeeper .all .cont .allkeeper label {
  font-size: 25px;
  margin-bottom: 3px;
  width: 100%;
  text-align: center;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper {
  font-size: 20px;
  position: relative;
  padding: 0;
  margin: 0;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 0.7px solid black;
  border-radius: 5px;
  padding: 5px;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main span {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main span:nth-child(2) {
  text-align: right;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main .spanisopen svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .show_dropdown {
  top: 100% !important;
  opacity: 1 !important;
  visibility: visible !important;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu {
  margin-top: 5px;
  cursor: pointer;
  border: 0.7px solid black;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: white;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 180px;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li {
  padding: 5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 0.5px solid black;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li:hover {
  background-color: lightblue;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li:last-child {
  border: none;
}

@media (max-width: 576px) {
  #dropdownkeeper {
    margin: 80px 0;
  }
  #dropdownkeeper .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dropdownkeeper .all p {
    font-family: var(--robotomedium);
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  #dropdownkeeper .all .cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: var(--robotomedium);
    position: relative;
  }
  #dropdownkeeper .all .cont .resultkeeper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    font-size: 15px;
  }
  #dropdownkeeper .all .cont .resultkeeper .resultspanfalse {
    color: #009900;
    padding: 0 10px;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
  }
  #dropdownkeeper .all .cont .resultkeeper .resultspantrue {
    margin-top: 20px;
  }
  #dropdownkeeper .all .cont .allkeeper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding: 0;
    margin: 0;
    margin: 40px 0;
    margin-bottom: 150px;
  }
  #dropdownkeeper .all .cont .allkeeper label {
    font-size: 14px;
    margin-bottom: 3px;
    width: 100%;
    text-align: center;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper {
    font-size: 15px;
    position: relative;
    padding: 0;
    margin: 0;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    border: 0.7px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main span {
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main span:nth-child(2) {
    text-align: right;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main .spanisopen svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .show_dropdown {
    top: 100% !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu {
    margin-top: 5px;
    cursor: pointer;
    border: 0.7px solid black;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    background-color: white;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    max-height: 180px;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li {
    padding: 5px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border-bottom: 0.5px solid black;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li:hover {
    background-color: lightblue;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li:last-child {
    border: none;
  }
}

:root {
  --robotomedium: RobotoMedium;
}

#loginSection {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loginSection .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

#loginSection .all form {
  font-family: var(--robotomedium);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

#loginSection .all form p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #009900;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 20px;
}

#loginSection .all form div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

#loginSection .all form div input {
  padding: 5px;
  font-size: 16px;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 0.8px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 5px;
  outline: none;
}

#loginSection .all form div input:focus {
  -webkit-box-shadow: 0px 0px 3px 1px #009900;
          box-shadow: 0px 0px 3px 1px #009900;
}

#loginSection .all form div label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 3%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
  z-index: 300;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#loginSection .all form div .moveLabelUp {
  top: -45% !important;
  font-size: 13px !important;
  color: black !important;
  left: 0% !important;
}

#loginSection .all form div button {
  background-color: #009900;
}

:root {
  --robotomedium: RobotoMedium;
}

#createfrequencyweightdistance {
  margin-top: 100px;
}

#createfrequencyweightdistance .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--robotomedium);
}

#createfrequencyweightdistance .all p {
  font-family: var(--robotomedium);
  font-size: 20px;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 60px;
}

#createfrequencyweightdistance .all form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#createfrequencyweightdistance .all form input {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (max-width: 576px) {
  #createfrequencyweightdistance {
    margin-top: 80px;
  }
  #createfrequencyweightdistance .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: var(--robotomedium);
  }
  #createfrequencyweightdistance .all p {
    font-family: var(--robotomedium);
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    text-align: center;
  }
  #createfrequencyweightdistance .all form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #createfrequencyweightdistance .all form input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.375rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  #createfrequencyweightdistance .all form button {
    font-size: 15px;
  }
}

:root {
  --robotomedium: RobotoMedium;
}

#notfound {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#notfound .all {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#notfound .all p {
  text-align: center;
  font-family: var(--robotomedium);
  font-size: 40px;
  margin-bottom: 30px;
}

#notfound .all a {
  text-align: center;
  color: #009900;
  font-size: 20px;
}

#notfound .all span {
  font-size: 15px;
  text-align: center;
  width: 100%;
  margin: 12px 0;
}

@media (max-width: 576px) {
  #notfound {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #notfound .all {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #notfound .all p {
    text-align: center;
    font-family: var(--robotomedium);
    font-size: 28px;
    margin-bottom: 15px;
  }
  #notfound .all a {
    text-align: center;
    color: #009900;
    font-size: 18px;
  }
  #notfound .all span {
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin: 8px 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --robotomedium: RobotoMedium;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RobotoMedium;
  src: url(../src/fonts/Roboto-Medium.ttf);
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*scrollbar*/
body {
  font-family: RobotoMedium;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8.33333333%;
}

.col-1-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 10%;
}

.col-1-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 12.5%;
}

.col-1-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 15%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.66666667%;
}

.col-2-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 17.5%;
}

.col-2-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 19.166%;
}

.col-2-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20.83333%;
}

.col-2-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 23.3333333%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.col-3-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 29.1666%;
}

.col-3-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 31.666666%;
}

.col-3-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 32.5%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33333333%;
}

.col-4-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 37.5%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.66666667%;
}

.col-5-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 45.833333%;
}

.col-5-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 48.333333%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.col-6-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 54.166666%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 83.33333333%;
}

.col-10-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 87.5%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

.col-1-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 15%;
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-7-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 62.5%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-0-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 4.16666666%;
  }
  .col-lg-0-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 6.6666%;
  }
  .col-lg-0-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 5.83333%;
  }
  .col-lg-1-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 10%;
  }
  .col-lg-1-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 12.5%;
  }
  .col-lg-1-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 15%;
  }
  .col-lg-2-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 18.333333%;
  }
  .col-lg-2-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
  .col-lg-2-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20.8333333%;
  }
  .col-lg-2-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 23.3333333%;
  }
  .col-lg-3-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 29.16666666%;
  }
  .col-lg-3-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 31.6666%;
  }
  .col-lg-4-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 37.5%;
  }
  .col-lg-5-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 45.8333%;
  }
  .col-lg-5-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 48.3333333%;
  }
  .col-lg-6-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 54.16666666%;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 500000;
  padding: 10px 0;
  margin: 0;
  -webkit-box-shadow: 0px 1px 15px 1px #009900;
          box-shadow: 0px 1px 15px 1px #009900;
}

.header .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .all .welcome_message_header {
  font-size: 20px;
}

.header .all .papaclickmenu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .all .papaclickmenu .clickmenu {
  position: absolute;
  top: 80%;
  left: 0%;
  padding: 15px 20px;
  font-size: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 1px #009900;
          box-shadow: 0px 0px 10px 1px #009900;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .all .papaclickmenu .clickmenu a,
.header .all .papaclickmenu .clickmenu span {
  margin-bottom: 8px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  text-align: start;
  cursor: pointer;
}

.header .all .papaclickmenu .clickmenu a:hover,
.header .all .papaclickmenu .clickmenu span:hover {
  color: #009900;
}

.header .all .papaclickmenu .clickmenu a:last-child,
.header .all .papaclickmenu .clickmenu span:last-child {
  margin-bottom: 0;
}

.header .all .papaclickmenu .clickdrop {
  cursor: pointer;
  margin-left: 5px;
}

.header .all .papaclickmenu .clickdrop svg {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .all .papaclickmenu .spanisopen svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .all .papaclickmenu .openclickmenu {
  top: 110%;
  opacity: 1;
  visibility: visible;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500000;
  background-color: white;
  padding: 10px 0;
  margin: 0;
}

.footer .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .all div {
  font-size: 12px;
}

.footer .all div a {
  color: #009900;
}

.footer .all div:nth-child(2) {
  text-align: right;
}

.maincontent {
  margin: 100px 0;
}

.homepagediv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homepagediv .linktoassessmentorcontactpage {
  margin: 20px 0;
  height: 200px;
  width: 200px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #98CE00;
  -webkit-box-shadow: 0px 0px 10px 2px #FFFF00;
          box-shadow: 0px 0px 10px 2px #FFFF00;
  border-radius: 5px;
  cursor: pointer;
  background-color: #009B00;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.homepagediv .linktoassessmentorcontactpage span {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 576px) {
  .homepagediv .linktoassessmentorcontactpage:hover {
    -webkit-box-shadow: 0px 0px 15px 4px #FFFF00;
            box-shadow: 0px 0px 15px 4px #FFFF00;
    border-radius: 10px;
  }
  .homepagediv .linktoassessmentorcontactpage:hover span {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #009900;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: fixed;
  left: 45%;
  top: 45%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#tablecontainer {
  margin-top: 100px;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 50px;
}

#tablecontainer .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#tablecontainer .pagination input {
  display: none;
}

#tablecontainer .pagination ul {
  margin: 0;
  padding: 0;
}

#tablecontainer .pagination ul li {
  cursor: pointer;
  margin-right: 3px;
}

#tablecontainer .pagination ul li label {
  cursor: pointer;
}

#tablecontainer .all .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

#tablecontainer .all .top .left {
  font-size: 25px;
  color: green;
}

#tablecontainer .all .top .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tablecontainer .all .tablecontainer {
  width: 100%;
}

@media (max-width: 576px) {
  .header .welcome_message_header {
    font-size: 17px;
  }
  .header .papaclickmenu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
  }
  .header .papaclickmenu .clickmenu {
    position: absolute;
    top: 80%;
    left: 0;
    padding: 10px 0 !important;
    padding-left: 10px !important;
    width: 95%;
    font-size: 13px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 1px #009900;
            box-shadow: 0px 0px 10px 1px #009900;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .header .papaclickmenu .clickmenu a,
  .header .papaclickmenu .clickmenu span {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    font-size: 17px;
    text-align: start;
  }
  .header .papaclickmenu .clickmenu a:hover,
  .header .papaclickmenu .clickmenu span:hover {
    color: #009900;
  }
  .header .papaclickmenu .clickmenu a:last-child,
  .header .papaclickmenu .clickmenu span:last-child {
    margin-bottom: 0;
  }
  .header .papaclickmenu .clickdrop {
    cursor: pointer;
    margin-left: 5px;
  }
  .header .papaclickmenu .clickdrop svg {
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  .header .papaclickmenu .spanisopen svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .papaclickmenu .openclickmenu {
    top: 110%;
    opacity: 1;
    visibility: visible;
  }
  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500000;
    background-color: white;
    padding: 6px 0;
    margin: 0;
  }
  .footer .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .all div {
    font-size: 10px;
  }
  .footer .all div:nth-child(1) {
    text-align: start;
  }
  .homepagediv {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homepagediv .linktoassessmentorcontactpage {
    margin: 12px;
    height: 130px;
    width: 130px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #98CE00;
    -webkit-box-shadow: 0px 0px 10px 2px #FFFF00;
            box-shadow: 0px 0px 10px 2px #FFFF00;
    border-radius: 5px;
    cursor: pointer;
    background-color: #009B00;
    color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  #tablecontainer {
    margin-top: 80px;
  }
  #tablecontainer .all .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
  }
  #tablecontainer .all .top .left {
    font-size: 20px;
    color: green;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #tablecontainer .all .top .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 8px;
  }
  #tablecontainer .all .top .middle select {
    margin: 5px 0;
  }
  #tablecontainer .all .top .right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #tablecontainer .all .tablecontainer {
    width: 100%;
    overflow-x: scroll;
  }
  #tablecontainer .all .tablecontainer button {
    font-size: 12px;
    padding: 3px;
  }
}
/*# sourceMappingURL=style.css.map */