.errorapp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 432;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
  width: 60%;
  padding: 20px 50px;
  color: black;
  background-color: white;
}

:root {
  --robotomedium: RobotoMedium;
}

#dropdownkeeper {
  margin: 100px 0;
}

#dropdownkeeper .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#dropdownkeeper .all p {
  font-family: var(--robotomedium);
  font-size: 18px;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

#dropdownkeeper .all .cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--robotomedium);
  position: relative;
}

#dropdownkeeper .all .cont .allkeeper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
  margin: 40px 0;
  margin-bottom: 200px;
}

#dropdownkeeper .all .cont .allkeeper label {
  font-size: 25px;
  margin-bottom: 3px;
  width: 100%;
  text-align: center;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper {
  font-size: 20px;
  position: relative;
  padding: 0;
  margin: 0;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 0.7px solid black;
  border-radius: 5px;
  padding: 5px;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main span {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main span:nth-child(2) {
  text-align: right;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main .spanisopen svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .show_dropdown {
  top: 100% !important;
  opacity: 1 !important;
  visibility: visible !important;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu {
  margin-top: 5px;
  cursor: pointer;
  border: 0.7px solid black;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  background-color: white;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  max-height: 180px;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li {
  padding: 5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  border-bottom: 0.5px solid black;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li:hover {
  background-color: lightblue;
}

#dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li:last-child {
  border: none;
}

@media (max-width: 576px) {
  #dropdownkeeper {
    margin: 80px 0;
  }
  #dropdownkeeper .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dropdownkeeper .all p {
    font-family: var(--robotomedium);
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  #dropdownkeeper .all .cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: var(--robotomedium);
    position: relative;
  }
  #dropdownkeeper .all .cont .allkeeper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding: 0;
    margin: 0;
    margin: 40px 0;
    margin-bottom: 200px;
  }
  #dropdownkeeper .all .cont .allkeeper label {
    font-size: 14px;
    margin-bottom: 3px;
    width: 100%;
    text-align: center;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper {
    font-size: 15px;
    position: relative;
    padding: 0;
    margin: 0;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    border: 0.7px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main span {
    -webkit-transition: 0.1s;
    transition: 0.1s;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main span:nth-child(2) {
    text-align: right;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_main .spanisopen svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .show_dropdown {
    top: 100% !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu {
    margin-top: 5px;
    cursor: pointer;
    border: 0.7px solid black;
    overflow: hidden;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    background-color: white;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    max-height: 180px;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li {
    padding: 5px;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    border-bottom: 0.5px solid black;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li:hover {
    background-color: lightblue;
  }
  #dropdownkeeper .all .cont .allkeeper .dropdownkeeper .dropdown_menu ul li:last-child {
    border: none;
  }
}

:root {
  --robotomedium: RobotoMedium;
}

#createfrequencyweightdistance {
  margin-top: 100px;
}

#createfrequencyweightdistance .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--robotomedium);
}

#createfrequencyweightdistance .all p {
  font-family: var(--robotomedium);
  font-size: 20px;
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 60px;
}

#createfrequencyweightdistance .all form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#createfrequencyweightdistance .all form input {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (max-width: 576px) {
  #createfrequencyweightdistance {
    margin-top: 80px;
  }
  #createfrequencyweightdistance .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: var(--robotomedium);
  }
  #createfrequencyweightdistance .all p {
    font-family: var(--robotomedium);
    font-size: 15px;
    color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    text-align: center;
  }
  #createfrequencyweightdistance .all form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #createfrequencyweightdistance .all form input {
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.375rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  }
  #createfrequencyweightdistance .all form button {
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --robotomedium: RobotoMedium;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: RobotoMedium;
  src: url(../src/fonts/Roboto-Medium.ttf);
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*scrollbar*/
body {
  font-family: RobotoMedium;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.col-1-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 15%;
}

@media (min-width: 992px) {
  .col-lg-0-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 5.83333%;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 500000;
  padding: 10px 0;
  margin: 0;
  -webkit-box-shadow: 0px 1px 15px 1px #009900;
          box-shadow: 0px 1px 15px 1px #009900;
}

.header .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .all div {
  font-size: 20px;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500000;
  background-color: white;
  padding: 10px 0;
  margin: 0;
}

.footer .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .all div {
  font-size: 12px;
}

.footer .all div a {
  color: #009900;
}

.footer .all div:nth-child(2) {
  text-align: right;
}

.maincontent {
  margin: 100px 0;
}

.homepagediv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homepagediv .linktoassessmentorcontactpage {
  margin: 20px 0;
  height: 200px;
  width: 200px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #98CE00;
  -webkit-box-shadow: 0px 0px 10px 2px #FFFF00;
          box-shadow: 0px 0px 10px 2px #FFFF00;
  border-radius: 5px;
  cursor: pointer;
  background-color: #009B00;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.homepagediv .linktoassessmentorcontactpage span {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (min-width: 576px) {
  .homepagediv .linktoassessmentorcontactpage:hover {
    -webkit-box-shadow: 0px 0px 15px 4px #FFFF00;
            box-shadow: 0px 0px 15px 4px #FFFF00;
    border-radius: 10px;
  }
  .homepagediv .linktoassessmentorcontactpage:hover span {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.preloader {
  font-size: 40px;
  text-align: center;
  width: 100%;
  padding: 200px 0;
  font-family: var(--robotomedium);
  background-color: white;
  z-index: 564730;
}

#tablecontainer {
  margin-top: 100px;
  margin-bottom: 40px;
}

#tablecontainer .all .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

#tablecontainer .all .top .left {
  font-size: 25px;
  color: green;
}

#tablecontainer .all .top .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tablecontainer .all .tablecontainer {
  width: 100%;
}

@media (max-width: 576px) {
  .footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500000;
    background-color: white;
    padding: 6px 0;
    margin: 0;
  }
  .footer .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .all div {
    font-size: 10px;
  }
  .footer .all div:nth-child(1) {
    text-align: start;
  }
  .homepagediv {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .homepagediv .linktoassessmentorcontactpage {
    margin: 12px;
    height: 130px;
    width: 130px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #98CE00;
    -webkit-box-shadow: 0px 0px 10px 2px #FFFF00;
            box-shadow: 0px 0px 10px 2px #FFFF00;
    border-radius: 5px;
    cursor: pointer;
    background-color: #009B00;
    color: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  #tablecontainer {
    margin-top: 80px;
  }
  #tablecontainer .all .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
  }
  #tablecontainer .all .top .left {
    font-size: 20px;
    color: green;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #tablecontainer .all .top .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 8px;
  }
  #tablecontainer .all .top .middle select {
    margin: 5px 0;
  }
  #tablecontainer .all .top .right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #tablecontainer .all .tablecontainer {
    width: 100%;
    overflow-x: scroll;
  }
  #tablecontainer .all .tablecontainer button {
    font-size: 12px;
    padding: 3px;
  }
}
/*# sourceMappingURL=style.css.map */